.heading-container {
  display: flex;
  
}

.heading {
padding: 5px;
border: 2px solid black;
}

.tab-body {
  display: flex;
  border: 2px solid black;
  height: 100px;
}

.error {
  display: block;
  font-size: small;
  color: crimson;
}