.heading-container {
  display: flex;
  
}

.heading {
padding: 5px;
border: 2px solid black;
}

.tab-body {
  display: flex;
  border: 2px solid black;
  height: 100px;
}

.error {
  display: block;
  font-size: small;
  color: crimson;
}

/* //pagination */

.product-card {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid blue;
  padding: 5px;
  margin: 4px;
  height: 350px;
  width: 350px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-image {
  height: 200;
  width: 200;
}

.page-container {
  display: inline-block;
  border: 1px solid gray;
  padding: 5px;
  margin: 2px;
  cursor: pointer;

}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination-container > span {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.paginated_selected {
  background-color: grey;
}

.page-disabled {
  opacity: 0;
}

.prev-disable {
  opacity: 0;
}

/* accordian */

.accordian-container {
  /* display: block; */
}

.accordian-container > button {
display: block;
  padding: 20px;
  margin: 10px;
}

.accordian-container > div {
  padding: 10px;
  margin: 10px;
}

/* todo */

.strike-through {
  text-decoration: line-through;
}

/* progressbar */

.outer {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.inner {
  background-color: green;
  color : white;
text-align: right;
transition: 0.5s ease-in;
}

/* data-table */

table {
  width: 100%;
  border-collapse: collapse; /* Removes gaps between borders */
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

/* Header Styles */
thead th {
  background-color: #f8f9fa;
  color: #333;
  font-weight: 600;
  text-align: left;
  padding: 12px 15px;
  border-bottom: 2px solid #6ba7e4;
}

/* Body Styles */
tbody td {
  padding: 12px 15px;
  border: 1px solid #d45050;
  color: #555;
}